@import "../../../../packages/ui/styles/fonts.css";
@import "tailwindcss";
@import "../../../../packages/ui/styles/nexus.css";

@source "../../../../packages/ui";
@source "../";

@theme {
  --font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "IBM Plex Mono", ui-monospace, monospace;
  --font-display: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
}
